---
- name: run playbook on localhost
  hosts: 127.0.0.1
  connection: local
  become: no

  pre_tasks:
    - name: Check if homebrew is installed
      stat:
        path: /opt/homebrew/bin/brew
      register: homebrew_check

    - name: Install homebrew
      shell: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      when:
        - not homebrew_check.stat.exists

    - name: check current shell
      shell: dscl . -read /Users/$USER UserShell
      register: user_shell
      changed_when: false

    - name: set zsh as default shell
      shell: chsh -s /bin/zsh
      when: '"/bin/zsh" not in user_shell.stdout'

    - name: Check if oh-my-zsh is installed
      stat:
        path: ~/.oh-my-zsh
      register: oh_my_zsh_check

    - name: Install oh-my-zsh
      shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
      when:
        - not oh_my_zsh_check.stat.exists

  tasks:

  - name: ensure trufflehog global ignore file exists
    copy:
      content: |
        ^\.git(/|$)
      dest: ~/.trufflehog-global-ignore
      force: no

  - name: install stuff from brewfile (no upgrade to avoid breaking ansible)
    shell: brew bundle --file={{ ansible_facts['env']['HOME'] }}/Brewfile --no-upgrade
    ignore_errors: yes

  - name: install commitlint dependencies globally
    shell: npm install -g @commitlint/cli @commitlint/config-conventional
    ignore_errors: yes

  - name: cloning zsh-autosuggestions
    git:
      repo=https://github.com/zsh-users/zsh-autosuggestions
      dest=~/.oh-my-zsh/custom/plugins/zsh-autosuggestions

  - name: cloning zsh-syntax-highlighting
    git:
      repo=https://github.com/zsh-users/zsh-syntax-highlighting
      dest=~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting

  - name: cloning p10k
    git:
      repo=https://github.com/romkatv/powerlevel10k.git
      dest=~/powerlevel10k

  - name: download MesloLGS NF Regular font
    get_url:
      url: https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
      dest: ~/Library/Fonts/MesloLGS NF Regular.ttf

  - name: download MesloLGS NF Bold font
    get_url:
      url: https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
      dest: ~/Library/Fonts/MesloLGS NF Bold.ttf

  - name: download MesloLGS NF Italic font
    get_url:
      url: https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
      dest: ~/Library/Fonts/MesloLGS NF Italic.ttf

  - name: download MesloLGS NF Bold Italic font
    get_url:
      url: https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf
      dest: ~/Library/Fonts/MesloLGS NF Bold Italic.ttf

  - name: configure git to use local hooks directory
    git_config:
      name: core.hooksPath
      value: ~/.git-hooks
      scope: global

  - name: configure git commit template
    git_config:
      name: commit.template
      value: ~/.git-commit-template
      scope: global

  - name: run link script
    shell: "{{ ansible_facts['env']['HOME'] }}/git/dotfiles/mac/link.sh"

  - name: playbook complete
    debug:
      msg:
        - "✅ Playbook completed successfully!"
        - ""
        - "⚠️  Note: Package upgrades are not done automatically"
        - "   To upgrade packages, run: brew upgrade"
        - ""
        - "To import iTerm2 profile:"
        - "  1. Open iTerm2 > Settings > Profiles"
        - "  2. Click 'Other Actions' (bottom left) > Import JSON Profiles"
        - "  3. Select: ~/git/dotfiles/mac/iterm profile from dotfiles.json"
        - "  4. Set as default profile"
